RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteRule ^index.php$ https://atherapy.ca [R=301,L]

#redirect html to php: https://stackoverflow.com/questions/5990240/redirect-all-html-extensions-to-php
RewriteRule ^(.*)\.html$ $1.php [L]

#remove .php extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

Options -Indexes

## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 1 month"
ExpiresByType image/jpeg "access 1 month"
ExpiresByType image/gif "access 1 month"
ExpiresByType image/png "access 1 month"
#ExpiresByType text/css "access 1 month"
#ExpiresByType text/html "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType text/x-javascript "access 1 month"
ExpiresByType application/x-shockwave-flash "access 1 month"
ExpiresByType image/x-icon "access 1 year"
ExpiresDefault "access 1 month"
</IfModule>
## EXPIRES CACHING ##

# Redirect support to zendesk

# Redirects from https://jaxx.io/support to the Zendesk URL for quicker referencing
RewriteRule ^support.html$ https://decentral.zendesk.com/hc/en-us [R,L]

# Redirect legal to terms-current

# Redirects from https://jaxx.io/legal.html to jaxx.io/legal/terms-current.html
RewriteRule ^legal.html$ https://jaxx.io/legal/terms-current [R,L]
# 301 redirect
Redirect 301 /legal.html https://www.jaxx.io/legal/terms-current

# Redirect thirdparties-current to /legal/thirdparties-current

# Redirects from https://jaxx.io/thirdparties-current.html to jaxx.io/legal/thirdparties-current
RewriteRule ^thirdparties-current.html$ https://jaxx.io/legal/thirdparties-current [R,L]
# 301 redirect
Redirect 301 /thirdparties-current.html https://www.jaxx.io/legal/thirdparties-current

#redirect betaslack --> remnant from jaxx-liberty-beta release

# Redirects from https://jaxx.io/betaslack to the jaxx slack channel URL
RewriteRule ^betaslack$ https://join.slack.com/t/libertybeta/shared_invite/enQtMzg0NDQwNDA2NjkwLTA5OTIxMWY3Yzk4NzYwMWEwMzUzMzIzYWNkY2Y0NGJlODYyOTQ1M2I1NjI3MzFmNDY4ODIyMTM5ODViZmVlMTM [R,L]

# Redirects people from https://jaxx.io/jaxx-liberty.html to jaxx.io/downloads.html
RewriteRule ^jaxx-liberty-beta$ https://jaxx.io/downloads [R,L]

# Set custom 404 error page
ErrorDocument 404 /404.php
ErrorDocument 403 /403.php